In [1]:
import sqlite3
sqlite_file = 'practice_db_12_28.sqlite'

In [2]:
conn = sqlite3.connect(sqlite_file)
c = conn.cursor()

In [3]:
table_name1 = 'prices_table'  # name of the table to be created
table_name2 = 'volumes_table'  # name of the table to be created
new_field = 'HES' # name of the column
field_type = 'INTEGER'  # column data type

# Connecting to the database file
conn = sqlite3.connect(sqlite_file)
c = conn.cursor()

# Creating a new SQLite table with 1 column
c.execute('CREATE TABLE {tn} ({nf} {ft})'\
        .format(tn=table_name1, nf=new_field, ft=field_type))

# Creating a second table with 1 column and set it as PRIMARY KEY
# note that PRIMARY KEY column must consist of unique values!
c.execute('CREATE TABLE {tn} ({nf} {ft} PRIMARY KEY)'\
        .format(tn=table_name2, nf=new_field, ft=field_type))

# Committing changes and closing the connection to the database file
conn.commit()
conn.close()

In [9]:
# TESTING 1 VALUE INPUT
conn = sqlite3.connect(sqlite_file)
c = conn.cursor()
c.execute("INSERT OR IGNORE INTO {tn} ({cn}) VALUES (123456)".\
        format(tn=table_name1, cn=new_field))
conn.commit()
conn.close()

# TUTORIAL CODE
#c.execute("INSERT OR IGNORE INTO {tn} ({idf}, {cn}) VALUES (123456, 'test')".\
 #       format(tn=table_name, idf=id_column, cn=column_name))

In [13]:
import pandas as pd
import numpy as np
prices_file = pd.read_csv('Prices_table.csv')

In [14]:
prices_file.head()

,Date,AKS,AM,COG,CPE,D,DVN,EQT,ESV,FOXF,...,QEP,SABR,SE,SPWH,SRC,SWN,SYRG,WGP,USO,SPY
0,9/21/16,4.72,26.680000,25.240000,14.90,76.750000,42.169998,74.160004,7.09,21.820000,...,18.070000,27.070000,42.669998,9.82,13.38,14.68,6.30,39.630001,10.40,215.820007
1,9/20/16,4.30,25.570000,24.520000,14.15,75.629997,40.660000,72.760002,6.64,20.450001,...,17.070000,26.709999,42.000000,9.64,13.15,14.25,5.88,38.660000,10.07,213.419998
2,9/19/16,4.30,25.520000,24.350000,14.37,75.900002,40.849998,71.230003,6.74,20.530001,...,17.090000,26.920000,42.310001,9.78,13.11,13.86,6.08,38.180000,9.98,213.410004
3,9/16/16,4.11,25.040001,24.299999,14.48,75.059998,40.990002,70.510002,6.87,20.879999,...,17.059999,26.870000,42.459999,9.77,12.96,13.68,6.14,37.549999,10.00,213.369995
4,9/15/16,4.06,25.160000,25.040001,14.19,74.449997,40.900002,71.440002,6.99,20.840000,...,16.879999,27.437256,42.220001,9.67,13.04,14.08,6.23,37.000000,10.14,214.197992

In [181]:
# Create a db file name database.db ### THIS CODE BLOCK WAS SUBSEQUENTLY COPIED IN TO THE NOTEBOOK AS A MORE EFFICIENT MANNTER OF LOADING IN
db = sqlite3.connect("prices_csv.sqlite")
prices_file.to_sql('prices', db)

In [178]:
prices_file.info

<bound method DataFrame.info of          Date   AKS         AM        COG    CPE          D        DVN  \
0     9/21/16  4.72  26.680000  25.240000  14.90  76.750000  42.169998
1     9/20/16  4.30  25.570000  24.520000  14.15  75.629997  40.660000
2     9/19/16  4.30  25.520000  24.350000  14.37  75.900002  40.849998
3     9/16/16  4.11  25.040001  24.299999  14.48  75.059998  40.990002
4     9/15/16  4.06  25.160000  25.040001  14.19  74.449997  40.900002
5     9/14/16  4.07  25.469999  25.090000  14.13  73.790001  40.180000
6     9/13/16  4.06  25.760000  25.209999  14.36  73.519997  41.139999
7     9/12/16  4.26  26.980000  26.299999  15.27  74.050003  43.129999
8      9/9/16  4.14  26.980000  26.059999  15.02  72.500000  43.299765
9      9/8/16  4.34  27.600000  26.500000  15.54  75.510002  45.217096
10     9/7/16  4.41  27.700001  25.250000  15.46  75.389999  44.138598
11     9/6/16  4.69  27.730000  24.770000  15.30  75.500000  44.148582
12     9/2/16  4.35  27.750000  24.410000  14.96  74.750000  44.208500
13     9/1/16  4.40  27.690001  24.459999  14.66  74.059998  43.639292
14    8/31/16  4.46  27.559999  24.629999  14.55  74.160004  43.269808
15    8/30/16  4.44  27.719999  24.840000  14.75  74.249996  44.378262
16    8/29/16  4.69  27.559999  25.160000  14.72  74.983090  44.947470
17    8/26/16  4.58  27.459999  25.230000  14.45  74.041958  44.368278
18    8/25/16  4.68  26.889999  25.400000  14.44  75.527949  44.318348
19    8/24/16  4.61  26.770000  25.610001  14.14  75.409075  44.448165
20    8/23/16  4.83  26.930000  26.010000  14.28  75.121782  45.167166
21    8/22/16  4.80  26.620001  25.740000  14.02  75.567576  44.038735
22    8/19/16  4.67  27.080000  25.959999  14.12  75.092064  44.268418
23    8/18/16  5.17  27.200001  26.059999  14.14  76.142161  44.697817
24    8/17/16  5.12  26.520000  25.010000  13.99  75.934123  43.249835
25    8/16/16  5.22  26.580000  25.080000  13.86  73.982521  42.411002
26    8/15/16  5.33  26.549999  25.410000  14.04  74.299532  41.901708
27    8/12/16  5.03  25.459999  25.080000  13.61  75.250565  41.612110
28    8/11/16  5.34  25.070000  24.559999  13.56  74.695798  41.252613
29    8/10/16  5.31  25.209999  24.010000  12.89  74.309441  39.515029
..        ...   ...        ...        ...    ...        ...        ...
205  11/27/15  2.30  21.869505  19.029285   9.42  65.432758  43.954464
206  11/25/15  2.35  22.238200  19.288594   9.94  65.287069  44.973245
207  11/24/15  2.28  21.995637  19.148967  10.01  65.539595  45.600186
208  11/23/15  2.30  21.607536  19.328487   9.26  65.636718  44.013241
209  11/20/15  2.36  21.665751  19.827158   9.20  66.386518  44.326712
210  11/19/15  2.54  22.383738  20.445511   9.30  66.213336  45.041816
211  11/18/15  2.55  22.810649  20.814528   9.32  65.886217  46.109576
212  11/17/15  2.44  22.587492  20.944182   9.10  65.713035  44.973245
213  11/16/15  2.56  22.800947  22.500035   9.17  66.636672  45.551207
214  11/13/15  2.55  22.044149  20.684873   8.98  65.616817  44.130792
215  11/12/15  2.52  22.082960  20.275963   8.79  65.337807  44.140590
216  11/11/15  2.60  22.451655  20.824500   9.15  65.722651  44.689161
217  11/10/15  2.70  22.616598  22.579822   8.89  65.231973  46.785496
218   11/9/15  2.68  22.733029  22.510008   9.15  65.164625  46.021412
219   11/6/15  2.77  22.626301  22.240726   8.83  65.280075  45.913656
220   11/5/15  2.71  22.563234  22.579822   8.85  67.579549  46.540597
221   11/4/15  2.80  22.794061  22.360408   9.07  67.897052  45.541412
222   11/3/15  2.93  23.505774  21.981418   9.17  68.031749  44.297325
223   11/2/15  3.03  22.207378  22.230754   8.89  68.050995  42.249970
224  10/30/15  2.89  22.909473  21.632348   8.68  68.724479  41.074454
225  10/29/15  2.72  22.457440  21.452993   8.46  68.195308  40.202614
226  10/28/15  2.62  21.159044  21.741955   8.54  68.811066  40.712004
227  10/27/15  2.42  20.822422  21.064387   8.16  69.619254  40.359349
228  10/26/15  2.34  21.495665  20.755496   8.43  70.081069  41.916907
229  10/23/15  2.66  22.168906  21.024531   8.35  70.311984  44.042628
230  10/22/15  2.64  22.640177  22.010990   8.65  71.668574  43.836914
231  10/21/15  2.53  23.149917  22.260095   8.34  71.120164  43.004259
232  10/20/15  2.71  23.534626  23.356161   8.43  70.898880  44.757733
233  10/19/15  2.77  23.803924  23.027342   8.14  70.591000  44.356098
234  10/16/15  2.86  24.313665  23.126983   8.76  70.369709  45.482635

           EQT        ESV       FOXF     ...            QEP       SABR  \
0    74.160004   7.090000  21.820000     ...      18.070000  27.070000
1    72.760002   6.640000  20.450001     ...      17.070000  26.709999
2    71.230003   6.740000  20.530001     ...      17.090000  26.920000
3    70.510002   6.870000  20.879999     ...      17.059999  26.870000
4    71.440002   6.990000  20.840000     ...      16.879999  27.437256
5    70.620003   6.890000  20.900000     ...      17.020000  27.198411
6    71.370003   6.890000  20.549999     ...      17.379999  27.775619
7    73.959999   7.370000  20.610001     ...      18.180000  28.253307
8    72.540001   7.270000  20.570000     ...      18.139999  28.044319
9    73.620003   8.010000  21.150000     ...      19.180000  28.820562
10   72.430000   7.340000  21.240000     ...      19.320000  28.900179
11   72.650002   7.490000  21.059999     ...      19.350000  28.721045
12   71.820000   7.460000  21.110001     ...      19.219999  28.551864
13   71.739998   7.380000  21.020000     ...      19.070000  28.313020
14   71.500000   7.590000  20.760000     ...      19.100000  28.014463
15   72.260002   7.720000  20.580000     ...      19.450001  27.994559
16   72.610001   7.969677  20.709999     ...      19.440001  27.865185
17   71.680000   7.789910  20.549999     ...      19.590000  27.885090
18   71.570000   7.899767  20.340000     ...      19.709999  27.765667
19   71.870003   7.939715  19.910000     ...      19.830000  27.805475
20   72.099998   8.289263  19.090000     ...      20.350000  27.666148
21   71.610001   8.209366  18.629999     ...      20.240000  27.158605
22   71.339996   8.698732  18.709999     ...      20.410000  26.860048
23   71.260002   8.978370  18.549999     ...      20.400000  26.959567
24   68.949997   8.528952  18.520000     ...      19.820000  26.889904
25   69.250000   8.918448  18.700001     ...      20.040001  27.367593
26   68.260002   8.948409  18.510000     ...      19.900000  27.198411
27   68.320000   8.409107  18.540001     ...      19.150000  27.168555
28   68.309998   8.748668  18.650000     ...      19.190001  26.710771
29   68.250000   8.439068  18.940001     ...      18.750000  26.531637
..         ...        ...        ...     ...            ...        ...
205  57.330680  16.530525  18.030001     ...      15.850000  29.166635
206  58.109601  17.142768  18.000000     ...      16.379999  28.970094
207  59.437766  17.053894  17.520000     ...      16.190001  28.066007
208  58.918483  16.718148  17.900000     ...      14.730000  29.392656
209  58.728747  16.619399  17.830000     ...      14.700000  28.999575
210  59.477711  16.984770  17.790001     ...      15.160000  28.655629
211  60.576190  17.685885  18.000000     ...      15.210000  28.326424
212  60.845817  16.994643  17.900000     ...      14.750000  27.525520
213  63.402282  17.527887  17.670000     ...      15.430000  27.250363
214  62.213923  17.281016  17.700001     ...      15.010000  27.643444
215  62.223912  16.816897  17.860001     ...      14.740001  28.124970
216  63.542088  17.182266  17.980000     ...      14.730014  28.734245
217  66.607842  18.061131  18.070000     ...      15.668740  28.488569
218  66.577885  18.061131  17.500000     ...      15.708686  28.635974
219  67.116898  17.834007  18.000000     ...      15.868470  28.891477
220  67.366440  18.071004  17.990000     ...      16.108143  28.665456
221  66.577885  18.110504  17.150000     ...      15.978320  29.353349
222  65.340158  18.021630  17.530001     ...      16.198021  29.107673
223  66.158656  17.735258  17.709999     ...      16.277913  29.264906
224  65.949042  16.421901  17.750000     ...      15.439052  28.812861
225  66.418182  15.671412  17.639999     ...      15.039594  28.989748
226  63.912775  15.483790  17.680000     ...      14.130826  29.707121
227  63.892815  15.078921  17.260000     ...      13.771315  29.038883
228  67.086954  15.315917  17.469999     ...      14.300596  29.058537
229  69.312875  16.125656  17.389999     ...      15.488984  29.333695
230  68.194922  16.402153  16.500000     ...      15.379133  29.284558
231  74.144010  16.007157  16.709999     ...      15.728659  28.871823
232  75.671208  16.451527  17.150000     ...      16.297886  29.294386
233  75.012420  15.878784  17.379999     ...      16.118130  29.264906
234  76.300059  16.382403  17.660000     ...      16.078185  29.068364

            SE   SPWH        SRC    SWN   SYRG        WGP    USO         SPY
0    42.669998   9.82  13.380000  14.68   6.30  39.630001  10.40  215.820007
1    42.000000   9.64  13.150000  14.25   5.88  38.660000  10.07  213.419998
2    42.310001   9.78  13.110000  13.86   6.08  38.180000   9.98  213.410004
3    42.459999   9.77  12.960000  13.68   6.14  37.549999  10.00  213.369995
4    42.220001   9.67  13.040000  14.08   6.23  37.000000  10.14  214.197992
5    41.930000   9.60  13.040000  13.89   6.26  37.049999  10.09  212.078693
6    41.520000   9.61  12.800000  14.19   6.37  36.950001  10.37  212.158293
7    43.419998   9.74  13.060000  14.94   6.94  36.639999  10.64  215.252662
8    42.799999   9.77  12.980000  14.72   6.85  37.020000  10.59  212.208044
9    43.980000  10.21  13.620000  15.44   7.17  37.849998  10.96  217.411754
10   41.919998  10.39  13.880000  14.42   7.00  37.610001  10.52  217.909241
11   41.000000  10.45  13.590000  14.20   6.66  37.500000  10.39  217.929145
12   36.150002  10.44  13.330000  13.93   6.47  37.119999  10.24  217.272458
13   35.610001  10.48  13.230000  13.79   6.41  36.770000  10.06  216.297388
14   35.619999  10.25  13.250000  13.91   6.55  36.869999  10.36  216.287444
15   35.730000  10.42  13.190000  14.20   6.80  36.810001  10.73  216.904323
16   35.730000  10.62  13.230000  14.43   6.92  36.990002  10.85  217.262514
17   35.639999  10.60  13.090000  14.36   6.66  36.540001  10.95  216.197885
18   35.689999  10.60  13.120000  14.09   6.64  36.470001  10.95  216.605828
19   36.090000  11.00  13.150000  13.92   6.56  36.419998  10.82  216.755083
20   36.250000  11.14  13.430000  14.04   6.91  36.340000  11.09  217.869449
21   36.110001  10.87  13.430000  13.47   6.86  36.259998  10.97  217.431658
22   36.360001  10.94  13.340000  13.72   7.07  36.500000  11.34  217.441602
23   36.779999  10.99  13.460000  14.38   7.06  36.990002  11.30  217.760001
24   36.119999  10.54  13.340000  13.83   6.99  36.630001  10.99  217.272458
25   36.000000  10.78  13.150000  14.16   7.20  36.680000  10.92  216.864530
26   36.070000  10.77  13.360000  14.26   7.15  36.250000  10.76  217.988841
27   36.360001  10.73  13.400000  13.86   6.83  36.450001  10.50  217.362017
28   36.139999  10.68  13.250000  13.57   6.88  36.180000  10.21  217.551050
29   35.630001  10.34  13.340000  13.32   6.55  36.619999   9.77  216.546132
..         ...    ...        ...    ...    ...        ...    ...         ...
205  25.631677  11.48   9.426553   8.74  11.32  40.744414  13.03  205.142781
206  25.978181  11.64   9.321707   9.42  11.63  41.689491  13.39  204.907850
207  26.257311  11.60   9.359833   9.26  11.82  39.799337  13.32  204.937216
208  25.930057  11.45   9.312177   9.02  11.16  37.002677  13.02  204.663120
209  25.689429  11.42   9.331239   9.04  11.05  36.896597  12.93  204.898051
210  26.257311   9.34   9.235925   9.78  11.44  38.497442  12.96  204.154076
211  26.469062   9.61   9.254988  10.54  11.95  38.536018  13.05  204.330275
212  26.247685   9.60   9.112017  10.93  11.55  38.507088  13.01  201.138996
213  26.382436  10.38   9.131080  11.66  11.81  38.854260  13.39  201.285829
214  25.323673  10.51   8.892795  11.02  11.19  37.340207  13.06  198.270749
215  25.400674  11.39   9.159674  10.30  11.08  36.616934  13.35  200.522271
216  25.824180  11.51   9.274050  10.64  11.61  37.108758  13.76  203.361152
217  26.026308  11.64   9.235925  11.43  12.02  39.751119  14.09  204.163860
218  26.353561  11.57   9.178737  11.80  11.83  40.059716  14.08  203.693982
219  26.552993  11.76   9.302645  11.91  11.46  41.564123  14.23  205.612660
220  26.932865  11.29   9.817341  12.28  11.72  42.393477  14.48  205.720342
221  27.312736  10.85   9.779215  11.66  11.67  42.586351  14.85  205.925922
222  27.873046  10.95   9.874528  11.31  11.87  43.222831  15.28  206.552431
223  27.341227  10.74   9.912654  11.30  11.57  41.458046  14.75  205.955288
224  27.132297  10.76   9.702964  11.04  11.19  41.593056  14.81  203.547135
225  27.056323  10.70   9.788747  10.78  11.05  40.117575  14.63  204.428173
226  26.818903  10.77   9.845934  10.76  11.03  39.316192  14.69  204.545639
227  26.315573  10.31   9.674369  10.64  10.48  39.163323  13.82  202.245182
228  26.647961  10.60   9.674369  10.76  10.99  40.367171  14.01  202.636745
229  27.322233  10.55   9.579056  11.18  10.96  40.653801  14.27  203.135989
230  27.065820  11.36   9.617181  11.67  11.10  40.586920  14.51  200.933416
231  27.293742  12.10   9.455147  12.40  10.86  41.485029  14.43  197.595305
232  27.521665  12.11   9.540930  13.09  11.28  43.204817  14.73  198.828741
233  27.645124  12.13   9.512335  12.99  11.16  43.586989  14.83  199.083255
234  27.873046  12.10   9.312177  13.14  11.35  43.787633  15.22  198.985372

[235 rows x 26 columns]>

In [139]:
#temp_ticker= prices_file.columns[:]
#temp_ticker[1]
#temp_prices = prices_file[1]
#first_hes_price = hes_prices[0:2]
#first_hes_price
#prices_file.columns[13:]

#prices_file[temp_ticker[2]]
#for t in range(len(tickers])):
#    print(tickers[t])
#tickers[0]
#prices_file[tickers[0]]
range(len(tickers))

range(0, 26)

In [102]:
dummy_field = "Date_"
conn = sqlite3.connect(sqlite_file)
c = conn.cursor()

# Workaround for having executed part of script and generated columns then needing to finish latter half of prices_file

c.execute('CREATE TABLE {tn} ({nf} {ft})'\
        .format(tn=table_name1, nf=dummy_field, ft=field_type))

conn.commit()
conn.close()

In [113]:
conn = sqlite3.connect(sqlite_file)
c = conn.cursor()

# Workaround for having executed part of script and generated columns then needing to finish latter half of prices_file

c.execute('CREATE TABLE {tn} ({nf} {ft})'\
        .format(tn=table_name1, nf=dummy_field, ft=field_type))

conn.commit()
conn.close()

OperationalError: near "COLUMN": syntax error

In [122]:
tickers = prices_file.columns

In [114]:
conn = sqlite3.connect(sqlite_file)
c = conn.cursor()

for t in range(len(prices_file[tickers])):
           c.execute("ALTER TABLE {tn} ADD COLUMN '{cn}' {ft}"\
            .format(tn=table_name1, cn=prices_file.columns[t], ft=field_type))
conn.commit()
conn.close()

OperationalError: duplicate column name: AKS

In [176]:
#temp_ticker = tickers[1]
#len(prices_file[temp_ticker])
#temp_ticker = tickers[0]
prices_file[tickers[1]][1]

4.2999999999999998

In [177]:
# RAPPING INSERT WITH A LOOP
conn = sqlite3.connect(sqlite_file)
c = conn.cursor()

for i in range(len(tickers)):
    temp_ticker = tickers[i]
    for t in range(len(prices_file[temp_ticker])):
        c.execute("INSERT OR IGNORE INTO {tn} ({cn}) VALUES ({an})".\
        format(tn=table_name1, cn=temp_ticker, an=prices_file[temp_ticker[t]]))
conn.commit()
conn.close()

OperationalError: near "76.750000": syntax error