In [5]:
import pandas as pd
import numpy as np
import sqlalchemy
sqlalchemy.__version__  # doctest: +SKIP

'1.0.13'

In [9]:
sqlite_file = 'sqlalchemy_db_secondaries.sqlite'    # name of the sqlite database file
import sqlite3

# Connecting to the database file
conn = sqlite3.connect(sqlite_file)
c = conn.cursor()
conn.close()

In [10]:
from sqlalchemy import create_engine
engine = create_engine('sqlite:///')
engine = create_engine('sqlite:///:memory:', echo=True)

In [8]:
prices_table = pd.read_csv("Prices_table.csv")

In [19]:
date_col= prices_table.T[:1]

In [70]:
#aks= prices_table.T[1:2]
#aks
#prices_table.T.index
#prices_table.index = prices_table['Date']
prices_table.T[1:2]

Date,9/21/16,9/20/16,9/19/16,9/16/16,9/15/16,9/14/16,9/13/16,9/12/16,9/9/16,9/8/16,...,10/29/15,10/28/15,10/27/15,10/26/15,10/23/15,10/22/15,10/21/15,10/20/15,10/19/15,10/16/15
AKS,4.72,4.3,4.3,4.11,4.06,4.07,4.06,4.26,4.14,4.34,...,2.72,2.62,2.42,2.34,2.66,2.64,2.53,2.71,2.77,2.86

In [46]:
from sqlalchemy import Table, Column, Integer, String, MetaData, ForeignKey
metadata = MetaData()
prices = Table('Prices_Table', metadata,
     Column('Date', Integer, nullable=False, primary_key=True),
     Column('AKS', Integer)
)

#github_metadata_table = Table('github_metadata', metadata,
#                              Column('job_id', None, ForeignKey('job.id'), primary_key=True),
#                              Column('github_id', String, unique=True),
#                              Column('url', String, nullable=False),
#                              Column('created_at', DateTime, nullable=False))

metadata.create_all(engine)
conn = engine.connect()

2016-12-22 15:38:51,084 INFO sqlalchemy.engine.base.Engine SELECT CAST('test plain returns' AS VARCHAR(60)) AS anon_1
2016-12-22 15:38:51,095 INFO sqlalchemy.engine.base.Engine ()
2016-12-22 15:38:51,100 INFO sqlalchemy.engine.base.Engine SELECT CAST('test unicode returns' AS VARCHAR(60)) AS anon_1
2016-12-22 15:38:51,103 INFO sqlalchemy.engine.base.Engine ()
2016-12-22 15:38:51,113 INFO sqlalchemy.engine.base.Engine PRAGMA table_info("Prices_Table")
2016-12-22 15:38:51,116 INFO sqlalchemy.engine.base.Engine ()
2016-12-22 15:38:51,132 INFO sqlalchemy.engine.base.Engine
CREATE TABLE "Prices_Table" (
	"Date" INTEGER NOT NULL,
	"AKS" INTEGER,
	PRIMARY KEY ("Date")
)


2016-12-22 15:38:51,135 INFO sqlalchemy.engine.base.Engine ()
2016-12-22 15:38:51,139 INFO sqlalchemy.engine.base.Engine COMMIT

In [77]:
def select_or_insert_job(date, value):
    """
    Returns the job id either by selecting from or inserting in job_table.
    
    This function might also insert new location, github_metadata and company entries.
    """
#    s = select([github_metadata_table]).where(github_metadata_table.c.github_id == github_id)
    #result = conn.execute(s).fetchone()
    #if result is not None:
     #   return result['job_id']
    #else:
    with engine.begin() as transaction:           
        job_id = insert_job(date, value)          
           
    return job_id

In [80]:
for i in range(len(aks)):
    select_or_insert_job(
        prices_table.index[i],
        aks[i]
)

KeyError: 0

for i in range(len(aks)):
#   select_or_insert_job
#   prices_table.index[i],
   print(aks[i])

In [76]:
prices_table.index[1]

'9/20/16'

In [42]:
# Connecting to the database file
prices = 'Prices_Table'  # name of the table to be created
new_field = 'AKS' # name of the column
field_type = 'INTEGER'  # column data type

aks= "AKS"
conn = sqlite3.connect(sqlite_file)
c = conn.cursor()

c.execute('DROP TABLE {tn}'.format(tn=prices))

#c.execute('DROP INDEX {ix}'.format(ix=index_name))

#c.execute("INSERT INTO {tn} ({cn}) VALUES (123456)".\
#        format(tn=prices, cn=aks))

conn.close()