In [1]:
import sqlite3
sqlite_file = 'practice_db_12_28.sqlite'

In [2]:
conn = sqlite3.connect(sqlite_file)
c = conn.cursor()

In [3]:
table_name1 = 'prices_table'  # name of the table to be created
table_name2 = 'volumes_table'  # name of the table to be created
new_field = 'HES' # name of the column
field_type = 'INTEGER'  # column data type

# Connecting to the database file
conn = sqlite3.connect(sqlite_file)
c = conn.cursor()

# Creating a new SQLite table with 1 column
c.execute('CREATE TABLE {tn} ({nf} {ft})'\
        .format(tn=table_name1, nf=new_field, ft=field_type))

# Creating a second table with 1 column and set it as PRIMARY KEY
# note that PRIMARY KEY column must consist of unique values!
c.execute('CREATE TABLE {tn} ({nf} {ft} PRIMARY KEY)'\
        .format(tn=table_name2, nf=new_field, ft=field_type))

# Committing changes and closing the connection to the database file
conn.commit()
conn.close()

In [9]:
# TESTING 1 VALUE INPUT
conn = sqlite3.connect(sqlite_file)
c = conn.cursor()
c.execute("INSERT OR IGNORE INTO {tn} ({cn}) VALUES (123456)".\
        format(tn=table_name1, cn=new_field))
conn.commit()
conn.close()

# TUTORIAL CODE
#c.execute("INSERT OR IGNORE INTO {tn} ({idf}, {cn}) VALUES (123456, 'test')".\
 #       format(tn=table_name, idf=id_column, cn=column_name))

In [13]:
import pandas as pd
import numpy as np
prices_file = pd.read_csv('Prices_table.csv')

In [14]:
prices_file.head()

,Date,AKS,AM,COG,CPE,D,DVN,EQT,ESV,FOXF,...,QEP,SABR,SE,SPWH,SRC,SWN,SYRG,WGP,USO,SPY
0,9/21/16,4.72,26.680000,25.240000,14.90,76.750000,42.169998,74.160004,7.09,21.820000,...,18.070000,27.070000,42.669998,9.82,13.38,14.68,6.30,39.630001,10.40,215.820007
1,9/20/16,4.30,25.570000,24.520000,14.15,75.629997,40.660000,72.760002,6.64,20.450001,...,17.070000,26.709999,42.000000,9.64,13.15,14.25,5.88,38.660000,10.07,213.419998
2,9/19/16,4.30,25.520000,24.350000,14.37,75.900002,40.849998,71.230003,6.74,20.530001,...,17.090000,26.920000,42.310001,9.78,13.11,13.86,6.08,38.180000,9.98,213.410004
3,9/16/16,4.11,25.040001,24.299999,14.48,75.059998,40.990002,70.510002,6.87,20.879999,...,17.059999,26.870000,42.459999,9.77,12.96,13.68,6.14,37.549999,10.00,213.369995
4,9/15/16,4.06,25.160000,25.040001,14.19,74.449997,40.900002,71.440002,6.99,20.840000,...,16.879999,27.437256,42.220001,9.67,13.04,14.08,6.23,37.000000,10.14,214.197992

In [86]:
temp_ticker= prices_file.columns[1]
temp_ticker
#temp_prices = prices_file[2]
#first_hes_price = hes_prices[0:2]
#first_hes_price
#prices_file.columns[13:]
#temp_prices

'AKS'

In [39]:
conn = sqlite3.connect(sqlite_file)
c = conn.cursor()

# Workaround for having executed part of script and generated columns then needing to finish latter half of prices_file

     c.execute("DROP TABLE {tn}"\
            .format(tn=table_name1))
conn.commit()
conn.close()

In [75]:
conn = sqlite3.connect(sqlite_file)
c = conn.cursor()

# Workaround for having executed part of script and generated columns then needing to finish latter half of prices_file

for i in range(len(prices_file.columns)):
           c.execute("ALTER TABLE {tn} ADD COLUMN '{cn}' {ft}"\
            .format(tn=table_name1, cn=prices_file.columns[t], ft=field_type))
conn.commit()
conn.close()

In [ ]:
# RAPPING INSERT WITH A LOOP
conn = sqlite3.connect(sqlite_file)
c = conn.cursor()

for i in range(len(temp_ticker[2:]):
for i in range(len(hes_prices)):
    c.execute("INSERT OR IGNORE INTO {tn} ({cn}) VALUES ({an})".\
        format(tn=table_name1, cn=new_field, an=hes_prices[i]))
conn.commit()
conn.close()